body {
  position: relative;
}

/* Custom Scrollbar */
/* Entire Scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: rgb(185, 185, 185);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* For Firefox Users */
:root {
  scrollbar-color: #888 rgb(185, 185, 185);
  scrollbar-width: thin;
  overflow-x: hidden;
}
/* Side Nav Buttons */
.side-nav-toggle {
  cursor: pointer;
  z-index: 2;
  position: fixed;
  right: 15px;
  top: 15px;
  background-color: black;
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  width: 40px !important; /* Makes both buttons the same width */
  height: 40px !important; /* Circle = same (Height & Width) + 50% border-radius */
  border-radius: 50%;
  align-items: center;  /* aligns both fontawesome icons */
}

.side-nav-toggle:hover {
  background-color: rgb(56, 187, 52);
}

/* Back To Top Button */
.back-to-top {
  display: none;
  cursor: point;
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: black; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  width: 40px !important; /* Makes both buttons the same width */
  height: 40px !important; /* Circle = same (Height & Width) + 50% border-radius */
  border-radius: 50%;
  align-items: center;  /* aligns both fontawesome icons */
}

.back-to-top:hover {
  background-color: rgb(56, 187, 52);
}


/* Side Nav */
.side-nav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black*/
overflow: hidden;
padding-top: 30px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the side-nav */
}

.side-nav a:hover {
  color: #f1f1f1;
}

/* Profile Picture */
header .myProfile img {
    margin: auto;
    display: block;
    width: 140px;
    border: 8px solid #2c2f3f;
}

/* Profile Name */
header .myProfile h1 a {
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-weight: 600;
  text-align-last: center;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
}

/* Profile Icons */
header .myProfile .profile-icons a {
  display: inline-block;
  width: 30px;
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-weight: 600;
  text-align-last: center;
  font-family: "Trebuchet MS", sans-serif;
  transition: transform .3s;
}

header .myProfile .profile-icons a:hover {
  color: aqua;
  transform: scale(1.5);
}
.profile-icons {
  text-align: center;
  width: 100%;
}

.profile-links {
  padding-top: 30px !important;
}

/* Profile Links */
.profile-links a {
  font-size: 20px !important;
  padding-top: 10px !important;

}

.nav-link {
  color: rgb(161, 14, 14) !important;
}

.nav-link.active {
color: darkgreen !important;
}


a .link-icon {
  color: white !important;
}

a .link-icon.active {
  color: aqua !important;
}

a:hover .nav-link{
  color: darkgreen !important;
}

a:hover .link-icon{
  color: aqua !important;
}

/* The navigation menu links */
.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Smaller Screens Side Nav Settings */
@media screen and (max-width: 1199px){
  .side-nav{width: 0px;}
  form{margin: 0px 20px;}
}
/* Bigger Screens Side Nav Settings */
@media screen and (min-width: 1200px){
  .side-nav{width: 250px;}
  #about{margin-left: 300px; margin-right: 50px;}
  .hero-content{margin-left: 300px; margin-right: 50px;}
  #portfolio{margin-left: 300px; margin-right: 50px;}
  #services{margin-left: 300px; margin-right: 50px;}
  #contact{margin-left: 300px; margin-right: 50px;}
  .copy-right{margin-left: 300px; margin-right: 50px;}
}

@media screen and (max-width: 766px){
  .custom-margin {margin: auto; width: 300px;}
}

/* Hero */
#hero {
  background:linear-gradient(rgba(37, 34, 34, 0), rgba(37, 34, 34, 0.7)), url(../images/background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  font-size: 30px;
  font-weight: 500px;
}

.hero-content h1 {
  font-size: 60px;
}

/* About */
#about ul {
  list-style:none;
  text-align: left;
  font-size: 20px;

}

#about li {
  padding: 10px;
  align-items: center!important;
  justify-content: center!important;
  white-space: nowrap;
}

/* Portfolio */
#portfolio {
  height: 1000px;
}

/* Services */

/* Contact */
@media screen and (max-width: 600px){
  #contact h5 {font-size: 18px;}
}

#contact .btn {
  width: 150px;
}

/* Footer */
#footer {
  color: white;
  background-color: black;
  font-size: 20px;
}

.custom-inline {
  display: inline-block;
}