body {
  position: relative;
}

/*Fixed Mobile Overflow*/
@media (max-width: 800px) {
  html, body {
  overflow-x: hidden;
  }
}

p {
  font-size: 18px;
}

.sec-color {
  color: rgb(3, 86, 114);
}

section:nth-child(even) {
  background: rgba(3, 86, 114, 0.048);
}

a.link:hover {
  color: white;
}

/* Custom Scrollbar */
/* Entire Scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: rgb(185, 185, 185);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* For Firefox Users */
:root {
  scrollbar-color: #888 rgb(185, 185, 185);
  scrollbar-width: thin;
  overflow-x: hidden;
}
/* Side Nav Buttons */
.side-nav-toggle {
  cursor: pointer;
  z-index: 2;
  position: fixed;
  right: 15px;
  top: 15px;
  background-color: rgba(3, 86, 114, 0.473);
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  width: 40px !important; /* Makes both buttons the same width */
  height: 40px !important; /* Circle = same (Height & Width) + 50% border-radius */
  border-radius: 50%;
  align-items: center;  /* aligns both fontawesome icons */
}

.side-nav-toggle:hover {
  background-color: rgb(3, 86, 114);
}

/* Back To Top Button */
.back-to-top {
  display: none;
  cursor: point;
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: rgba(3, 86, 114, 0.473); 
  border: none; 
  color: white; 
  font-size: 16px; 
  cursor: pointer; 
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  align-items: center;
}

.back-to-top:hover {
  background-color: rgb(3, 86, 114);
}


/* Side Nav */
.side-nav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: black;
overflow: auto;
padding-top: 30px;
transition: 0.5s;
}

.side-nav a:hover {
  color: #f1f1f1;
}

/* Profile Picture */
header .myProfile img {
    margin: auto;
    display: block;
    width: 140px;
    border: 8px solid rgb(3, 86, 114);
}

/* Profile Name */
header .myProfile h1 a {
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-weight: 600;
  text-align-last: center;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
}

/* Profile Icons */
header .myProfile .profile-icons a {
  display: inline-block;
  width: 30px;
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-weight: 600;
  text-align-last: center;
  font-family: "Trebuchet MS", sans-serif;
  transition: transform .3s;
}

header .myProfile .profile-icons a:hover {
  color: rgb(3, 86, 114);
  transform: scale(1.5);
}

.profile-icons {
  text-align: center;
  width: 100%;
}

/* Profile Links */
ul {
  list-style: none;
  padding: 20px 0 0 0;
}


.header nav ul li a.active {
  color: white;
}

.header nav ul li a:hover {
  color: white;
}

.li-fa {
  display: inline-block;
  margin-right: 15px;
}

a:hover .li-fa {
  color: rgb(3, 86, 114);
}

a.active .li-fa {
  color: rgb(3, 86, 114);
}

/* The navigation menu links */
.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Smaller Screens Side Nav Settings */
@media screen and (max-width: 1199px){
  .side-nav {width: 0px;}
  .small-margin {margin: 0px 20px;}
}
/* Bigger Screens Side Nav Settings */
@media screen and (min-width: 1200px){
  .side-nav {width: 250px;}
  .large-margin {margin-left: 300px; margin-right: 50px;}
}

@media screen and (max-width: 766px){
  .custom-margin {margin: auto; width: 300px;}
}

/* Hero */
#hero {
  background:linear-gradient(rgba(37, 34, 34, 0.493), rgb(37, 34, 34)), url(../images/main/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  font-size: 30px;
  font-weight: 500px;
}

#myElement {
  text-decoration: underline;
  text-decoration-color:  rgb(3, 86, 114);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;

}

#hero h1 {
  font-size: 60px;
}

#hero p {
  font-size: 30px;
}

/* About */
.skills-intro {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}

.fa-3x {
  font-size: 5rem;
}

#about p strong {
  color: rgb(3, 86, 114);
}
#about ul {
  list-style:none;
  text-align: left;
  font-size: 20px;
}

#about li {
  padding: 10px;
  align-items: center!important;
  justify-content: center!important;
  white-space: nowrap;
}

/* Portfolio */
/* Temporary fix to scrollspy not working */
@media screen and (min-width: 558px){
  #portfolio{height: 1000px;}
}

.image-title {
  font-weight: bold;
  font-size: 25px;
  width: 500px;
}

.port-items li {
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
  width: 320px;
}

.line {
  width: 450px;
  height: 30px;
  border-bottom: 2px solid white;
  position: absolute;
}
.image-btn {
  opacity: 0;
  cursor: point;
  z-index: 2;
  position: fixed;
  top: 30px;
  right: 1px;
  background-color: rgba(3, 86, 114, 0.42); 
  border: none; 
  color: white; 
  font-size: 18px; 
  cursor: pointer; 
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-btn2 {
  opacity: 0;
  cursor: point;
  z-index: 2;
  position: fixed;
  top: 75px;
  right: 1px;
  background-color: rgba(3, 86, 114, 0.42); 
  border: none; 
  color: white; 
  font-size: 16px; 
  cursor: pointer; 
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-btns a:hover {
  color: white;
}

.image-btn:hover {
  background-color: rgba(3, 86, 114)
}

.image-btn2:hover {
  background-color: rgba(3, 86, 114)
}

.image-btns:hover .image-btn {
  opacity: 1;
}

.image-btns:hover .image-btn2 {
  opacity: 1;
}

.image-btns:hover .img-thumbnail {
  opacity: 0.5;
}
.port-margin {
  margin-bottom: 10%;
}

.img-thumbnail {
  border-color: rgb(3, 86, 114);
  background-color: rgba(3, 86, 114, 0.473);
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.portfolio-nav {
  text-align: center;
  width: 300px;
  height: 60px;
  background: rgba(3, 86, 114, 0.048);
  border-radius: 40px;
  margin: 50px auto;
}


.portfolio-nav ul li {
  display: inline;
  margin: 0 15px;
  font-weight: bold;
  color: black;
}

.portfolio-nav ul li:hover {
  color: rgb(3, 86, 114);
  cursor: pointer;
}

ul > li.rig-active {
  color: rgb(3, 86, 114);
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
/* https://www.30secondsofcode.org/css/s/hover-underline-animation */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(3, 86, 114);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(3, 86, 114);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color:white;
}

.astext:hover {
  text-decoration: underline;
  color: rgb(3, 86, 114);
}

/* Services */

/* Contact */
@media screen and (max-width: 600px){
  #contact h5 {font-size: 18px;}
}

#contact .btn {
  width: 150px;
  background: rgb(3, 86, 114);
}
#contact .btn:hover {
  background-color: black;
}

#floatingInputGrid, textarea {
  background-color : rgba(3, 86, 114, 0.048); 
}

#floatingTextarea2, textarea {
  background-color : rgba(3, 86, 114, 0.048);
}

/* Footer */
#footer {
  color: white;
  background-color: black !important;
  font-size: 20px;
}

/* Preloader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/images/main/Preloader_5.gif) center no-repeat #fff;
}